<footer class="ecomm-footer">
    <div class="footer-ecomm-upper">
        <div class="footer-ecomm-company">
            <h2>{% include 'snippet' %} E-Comm</h2>
        </div>
    </div>
    <div class="footer-ecomm-middle">

    </div>
    <div class="footer-ecomm-bottom">

    </div>
</footer>